.signup {
    background-color: #fff;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #03738B;
    border-radius: 14px;
    box-shadow: 0px 0px 32px #03728b2f;
  }
  
  .signup-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .input-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .input-area-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .black{
    width: 100%;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth-icons{
    width: 25px;
    height: 25px;
    margin-right:8px;
  }
  .signup-input {
    padding: 8px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 14px;
    border: 2px solid #06C7F2;
    width: 100%;
  }
    
  .signup-input::placeholder {
    color: #b1b1b1;
  }
  
  
  @media screen and (max-width: 820px) {  
    .signup-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  }
  